# Project Configurations
PROJECT_NAME=School Management System
PROJECT_VERSION=1.0.0
DEBUG=True

# Database Configurations
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_SERVER=POSTGRES_SERVER
POSTGRES_PORT=POSTGRES_PORT
POSTGRES_DB=POSTGRES_DB

# JWT Configurations
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=1440
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=___PRIVET_KEY_BEGINS__PRIVATE_KEY__PRIVATE_KEY_ENDS___
JWT_REFRESH_SECRET_KEY=___REFRESH_PRIVET_KEY_BEGINS__REFRESH_PRIVATE_KEY__REFRESH_PRIVATE_KEY_ENDS___
